<!-- <ion-header>
  <ion-toolbar> -->
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <!-- <ion-title>Ionic Firebase Recover Password Example</ion-title> -->
    
  <!-- </ion-toolbar>
</ion-header> -->

<ion-content class="background-image">
  <ion-card class="main-card">
    <div class="imgcontainer">
      <img src="../../assets/avatar-icon.svg" alt="Avatar" class="avatar">
      <ion-text color="success">
        <h1 class="text-center" style="color:#e0652c"><strong> Reset Your Password</strong></h1>
      </ion-text>
    </div>  
  <!-- <ion-item lines="full"> -->
    <p class="texted">Enter email to send password reset instructions.</p>
  <!-- </ion-item> -->

  <form>
    <ion-row>
      <ion-col>
        <ion-item class="line" lines="full">
          <ion-label position="floating">Email :</ion-label>
          <ion-input type="text" #email required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="danger"
          (click)="authService.PasswordRecover(email.value)"
          expand="block"
        >
          Send Password Reset Mail
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-card>
</ion-content>

