<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>verify-email</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <div class="imgcontainer">
        <img src="../../assets/avatar-icon.svg" alt="Avatar" class="avatar">
        <ion-text color="success">
          <h1 class="text-center" style="color:#e0652c"><strong> Verify your Email</strong></h1>
        </ion-text>
      </div>  
      <h2>Ionic Firebase Verify Email</h2>
      <p>
        Please check your email and click on the link to verfiy your email
        address.
      </p>
      <ion-button
        type="submit"
        (click)="authService.SendVerificationMail()"
        expand="block"
      >
        Resend Verification Email
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
