.imgcontainer {
    text-align: center;
    margin: 20px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 30%;
    border-radius: 40%;
  }
  .background-image{
    --background: url(../../assets/main.bg.gif) 0 0/100% 100% no-repeat;
  }
  .main-card{
    margin-top: 50%;
    background: transparent;
  }
  .line{
   border-radius: 30px;
   border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 6px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #679ee2;
  }